body {
  background-color: #c0c0c0;
}

.page {
  background-color:#E6DDC6;
  margin: 20px auto;
}

.bottom-gradient {
  clear: both;
}

.title {
  padding: 30px;
  font-family: 'Donegal One', serif;
  font-size: 1.25em;
}

.content {
  padding: 0px 30px 30px 30px;
  font-family: 'Donegal One', serif;
  font-size: 0.9em;
}

.content a {
  text-decoration: none;
}

.content iframe {
  height: 200px;
  margin: 5px auto;
}

.content img {
  float: right;
  margin: 5px;
}

.content .tori,
.content .joe {
  width: 50%;
  max-width: 150px;
}

p.address {
  font-style: italic;
}

/* narrow */
@media (max-width: 559px) {
  .content .wide-pic {
    display: none;
  }

  .page {
    width: 100%;
  }

  .content .narrow-pic {
    width: 50%;
    max-width: 150px;
    float:right;
  }

  .content iframe {
    width: 100%;
    clear:both;
  }
}

/* wide */
@media (min-width: 560px) {
  .page {
    width: 500px;
  }

  .content img,
  .content iframe {
    border-radius: 5px;
    -moz-box-shadow:    5px 5px 3px 1px #c0c0c0;
    -webkit-box-shadow: 5px 5px 3px 1px #c0c0c0;
    box-shadow:         5px 5px 3px 1px #c0c0c0;
  }

  .content iframe {
    width: 265px;
  }

  .content .narrow-pic {
    display: none;
  }

  .content .wide-pic {
    width: 150px;
  }

  .page-gradient {
    background: -moz-linear-gradient(left,  rgba(192,192,192,1) 0%, rgba(192,192,192,0) 20px, rgba(192,192,192,0) 480px, rgba(192,192,192,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(192,192,192,1)), color-stop(20px,rgba(192,192,192,0)), color-stop(480px,rgba(192,192,192,0)), color-stop(100%,rgba(192,192,192,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 20px,rgba(192,192,192,0) 480px,rgba(192,192,192,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 20px,rgba(192,192,192,0) 480px,rgba(192,192,192,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 20px,rgba(192,192,192,0) 480px,rgba(192,192,192,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 20px,rgba(192,192,192,0) 480px,rgba(192,192,192,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#c0c0c0',GradientType=1 ); /* IE6-9 */
  }

  .top-gradient {
    height: 20px;
    background: -moz-linear-gradient(top,  rgba(192,192,192,1) 0%, rgba(192,192,192,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,1)), color-stop(100%,rgba(192,192,192,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(192,192,192,1) 0%,rgba(192,192,192,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#00c0c0c0',GradientType=0 ); /* IE6-9 */
  }

  .bottom-gradient {
    height: 20px;
    background: -moz-linear-gradient(top,  rgba(192,192,192,0) 0%, rgba(192,192,192,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,192,192,0)), color-stop(100%,rgba(192,192,192,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(192,192,192,0) 0%,rgba(192,192,192,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(192,192,192,0) 0%,rgba(192,192,192,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(192,192,192,0) 0%,rgba(192,192,192,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(192,192,192,0) 0%,rgba(192,192,192,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0c0c0', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
  }

  .title {
    padding: 15px 15px 15px 60px;
    margin: 15px 15px 15px -30px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 45px, rgba(255,255,255,0.25) 73%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(45px,rgba(255,255,255,0.25)), color-stop(73%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 45px,rgba(255,255,255,0.25) 73%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 45px,rgba(255,255,255,0.25) 73%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 45px,rgba(255,255,255,0.25) 73%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 45px,rgba(255,255,255,0.25) 73%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  }
}